body,html{
margin:0%;
}
.flex {
display: flex;
flex-wrap: wrap;
}
.block {
margin: 20px;
display: inline;
background-color: aquamarine;
width: 160px;
height: 100px;
}
.clear {
margin: 10px;
background: bisque;
}
